* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
}

.header {
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  display: flex;
}

.text-underline {
  text-decoration: underline;
}

.container {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 400;
}

.large-text {
  font-size: 35px;
  font-weight: 400;
}

.medium-text {
  font-size: 24px;
}

.small-text {
  font-size: 12px;
}

.right-column {
  margin-top: 10px;
}

.image {
  display: inline;
  width: 25%;
  margin: 0px auto;
  border-radius: 50%;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.about img {
  margin-right: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 50px;
}

.link {
  display: flex;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
}

.link:hover {
  color: black;
}

.icon {
  font-size: 25px;
  margin-right: 5px;
}

.section {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.desc-line {
  border-bottom: 2px dashed #e6e6e6;
}

.desc-title, .desc-timeline, .desc-position {
  margin-bottom: 5px;
}

.desc-position {
  font-weight: 300;
  font-size: 16px;
}

.desc-title {
  text-decoration: none;
  font-weight: 300;
  color: black;
}

.desc-title:hover {
  color: black;
}

.desc-timeline {
  font-weight: 600;
}

.description {
  margin-bottom: 20px;
}

.description p {
  margin-bottom: 4px;
}

.paragraph {
  margin-bottom: 15px;
}

.keywords {
  margin-bottom: 15px;
}

.skill {
  background-color: #3e464e;
  color: white;
  border-radius: 5px;;
  padding: 2px 7px;
}

.skill-link {
  color: black;
}

.skill-link:hover {
  color: black;
}

.project {
  margin-bottom: 20px;
}

.project-title {
  display: block;
  font-size: 24px;
}

.project-link, .project-link:hover {
  color: black;
  text-decoration: underline dotted;
}

.project-site-link {
  display: block;
  font-size: 12px;
  color: black;
  text-decoration: none;
  margin-bottom: 5px;
}

.project-site-link:hover {
  color: black;
  text-decoration: underline;
}

.skill-title {
  font-size: 20px;
  font-weight: 400;
}

.skill-section {
  margin-bottom: 20px;
}

.skill-title {
  margin-bottom: 5px;
}

.skill-section p {
  font-weight: 300;
  margin-bottom: 2px;
}


.education {
  margin-bottom: 100px;
}
