* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 400;
}

.large-text {
  font-size: 35px;
  font-weight: 400;
}

.medium-text {
  font-size: 24px;
}

.small-text {
  font-size: 12px;
}

.right-column {
  margin-top: 10px;
}

.image {
  display: block;
  width: 50%;
  margin: 0px auto;
  border-radius: 50%;
}

.link {
  display: inline;
  margin-left: 5px;
}

.icon {
  width: 30px;
}

.section {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 10px;
}

.desc-title, .desc-timeline, .desc-position {
  margin-bottom: 5px;
}

.desc-position {
  font-weight: 300;
  font-size: 16px;
}

.desc-title {
  text-decoration: none;
  font-weight: 300;
  color: black;
}

.desc-title:hover {
  color: black;
}

.desc-timeline {
  font-weight: 600;
}
